<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head')%>
</head>
<body>

    <div class="boxForm">
        <form class="loginForm" action="" method="POST">

            <img src="/img/logo.png" alt="">


            <input type="text" placeholder="Nome do usuário">


            <input type="password" placeholder="Senha">

            <button type="submit">Cadastrar</button>

            <br>
            <a href="/">Ja tem conta? Entrar</a>

            <span>
                Deseja jogar sem uma conta? <a href="">Clique aqui</a>
            </span>
        </form>
    </div>

    <%- include('partials/background.ejs')%>

    <script src="/js/script.js"></script>
</body>
</html>