@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.backgroundAnimation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #151136;
  overflow: hidden;
}
.backgroundAnimation span {
  width: 4vmin;
  height: 4vmin;
  border-radius: 4vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.backgroundAnimation span:nth-child(0) {
  color: #30296b;
  top: 36%;
  left: 63%;
  animation-duration: 17s;
  animation-delay: -16s;
  transform-origin: 10vw -15vh;
  box-shadow: -8vmin 0 1.0811228212vmin currentColor;
}
.backgroundAnimation span:nth-child(1) {
  color: #30296b;
  top: 71%;
  left: 97%;
  animation-duration: 10s;
  animation-delay: -7s;
  transform-origin: -9vw 14vh;
  box-shadow: 8vmin 0 1.4450009934vmin currentColor;
}
.backgroundAnimation span:nth-child(2) {
  color: #f2c145;
  top: 59%;
  left: 77%;
  animation-duration: 43s;
  animation-delay: -6s;
  transform-origin: 12vw 19vh;
  box-shadow: -8vmin 0 1.871800152vmin currentColor;
}
.backgroundAnimation span:nth-child(3) {
  color: #f2c145;
  top: 36%;
  left: 5%;
  animation-duration: 53s;
  animation-delay: -12s;
  transform-origin: -17vw 23vh;
  box-shadow: -8vmin 0 1.1386165567vmin currentColor;
}
.backgroundAnimation span:nth-child(4) {
  color: #f2c145;
  top: 48%;
  left: 20%;
  animation-duration: 37s;
  animation-delay: -30s;
  transform-origin: 11vw 11vh;
  box-shadow: 8vmin 0 1.6894223326vmin currentColor;
}
.backgroundAnimation span:nth-child(5) {
  color: #30296b;
  top: 13%;
  left: 61%;
  animation-duration: 45s;
  animation-delay: -38s;
  transform-origin: -7vw -13vh;
  box-shadow: -8vmin 0 1.7267598924vmin currentColor;
}
.backgroundAnimation span:nth-child(6) {
  color: #30296b;
  top: 8%;
  left: 60%;
  animation-duration: 27s;
  animation-delay: -18s;
  transform-origin: 16vw 8vh;
  box-shadow: 8vmin 0 1.7470367933vmin currentColor;
}
.backgroundAnimation span:nth-child(7) {
  color: #30296b;
  top: 2%;
  left: 88%;
  animation-duration: 12s;
  animation-delay: -16s;
  transform-origin: -18vw -12vh;
  box-shadow: 8vmin 0 1.2431828222vmin currentColor;
}
.backgroundAnimation span:nth-child(8) {
  color: #30296b;
  top: 3%;
  left: 21%;
  animation-duration: 9s;
  animation-delay: -9s;
  transform-origin: -13vw 2vh;
  box-shadow: -8vmin 0 1.0859719099vmin currentColor;
}
.backgroundAnimation span:nth-child(9) {
  color: #f2c145;
  top: 60%;
  left: 76%;
  animation-duration: 12s;
  animation-delay: -3s;
  transform-origin: -18vw -8vh;
  box-shadow: -8vmin 0 1.4454521232vmin currentColor;
}
.backgroundAnimation span:nth-child(10) {
  color: #f2c145;
  top: 79%;
  left: 57%;
  animation-duration: 9s;
  animation-delay: -8s;
  transform-origin: 22vw 18vh;
  box-shadow: 8vmin 0 1.8201460713vmin currentColor;
}
.backgroundAnimation span:nth-child(11) {
  color: #30296b;
  top: 48%;
  left: 76%;
  animation-duration: 54s;
  animation-delay: -32s;
  transform-origin: -4vw -1vh;
  box-shadow: -8vmin 0 1.6236540677vmin currentColor;
}
.backgroundAnimation span:nth-child(12) {
  color: #30296b;
  top: 91%;
  left: 36%;
  animation-duration: 19s;
  animation-delay: -49s;
  transform-origin: 11vw -16vh;
  box-shadow: 8vmin 0 1.0692786641vmin currentColor;
}

.boxForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.boxForm .loginForm {
  color: white;
  background-color: #30296b;
  border: 3px solid #f2c145;
  border-radius: 5px;
  text-align: center;
  padding: 40px 30px;
  max-width: 400px;
}
.boxForm .loginForm img {
  width: 110px;
  margin-bottom: 30px;
  cursor: pointer;
}
.boxForm .loginForm input {
  background-color: #151136;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 15px 10px;
  width: 100%;
  margin-bottom: 30px;
}
.boxForm .loginForm input::-moz-placeholder {
  font-style: italic;
}
.boxForm .loginForm input::placeholder {
  font-style: italic;
}
.boxForm .loginForm button {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  background-color: #f2c145;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #151136;
  transition: all ease 500ms;
}
.boxForm .loginForm a {
  display: block;
  text-decoration: none;
  color: #f2c145;
  font-weight: 300;
  font-size: 13px;
  margin-top: 10px;
}
.boxForm .loginForm span {
  margin-top: 30px;
  font-size: 13px;
  display: block;
}
.boxForm .loginForm span a {
  display: inline;
  color: #f2c145;
  font-weight: bold;
}

body {
  background-color: #151136;
}

.header {
  background-color: #30296b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header .headerLogo {
  width: 200px;
  cursor: pointer;
}
.header .navBar .linkList {
  list-style: none;
  display: flex;
}
.header .navBar .linkList li {
  display: flex;
  align-items: center;
  padding: 0 20px;
  transition: all ease 300ms;
}
.header .navBar .linkList li:hover {
  background-color: #f2c145;
}
.header .navBar .linkList li:hover a {
  color: #151136;
  font-weight: bold;
}
.header .navBar .linkList li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 100px;
  height: 100px;
}

.gameContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}
.gameContent .gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameContent .gameInfo .time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 4px dashed #30296b;
  border-radius: 50%;
  text-align: center;
}
.gameContent .gameInfo .time span {
  color: #f2c145;
  font-size: 30px;
  font-weight: bold;
}
.gameContent .gameInfo .scoreInfo {
  display: flex;
  margin-top: 60px;
}
.gameContent .gameInfo .scoreInfo .previousScore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 10px 0;
  width: 130px;
  border: 4px dashed #30296b;
  border-radius: 5px;
  text-align: center;
}
.gameContent .gameInfo .scoreInfo .previousScore p {
  margin-bottom: 5px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}
.gameContent .gameInfo .scoreInfo .currentScore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 130px;
  height: 100px;
  border: 4px dashed #30296b;
  border-radius: 5px;
  text-align: center;
}
.gameContent .gameInfo .scoreInfo .currentScore p {
  margin-bottom: 5px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}
.gameContent .gameSetting {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameContent .gameSetting .timer {
  margin-right: 15px;
  border: 2px dashed #f2c145;
  padding: 15px;
  border-radius: 10px;
  color: white;
}
.gameContent .gameSetting .timer:hover {
  background-color: #f2c145;
  cursor: pointer;
  font-weight: bold;
}
.gameContent .clickArea h1 {
  margin-bottom: 30px;
  color: #f2c145;
}
.gameContent .clickArea h1 span {
  color: white;
}
.gameContent .clickArea .circleBackground {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151136;
  width: 350px;
  height: 350px;
  border: 4px dashed #7e75c7;
  border-radius: 50%;
  z-index: 1;
}
.gameContent .clickArea .circleBackground.rotate {
  transform: rotate(0);
  animation-name: rotate;
  animation-duration: 1300ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
.gameContent .clickArea .circle {
  position: relative;
  left: 15px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30296b;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(0);
  z-index: 2;
}
.gameContent .clickArea .circle p {
  pointer-events: none;
}
.gameContent .clickArea .circle .rippleAnimation {
  background-color: #f2c145;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  pointer-events: none;
  animation-name: ripple;
  animation-duration: 400ms;
  animation-timing-function: linear;
}
@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
.gameContent .clickArea .circle p {
  color: #7e75c7;
}/*# sourceMappingURL=style.css.map */